main{
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.22);
    padding: 10px;
}
.wrapper__1 {
  & p:nth-child(2) {
    border: 2px solid orange;
  }

  & p:nth-child(3) {
    border: 4px dashed green;
  }

  & p:last-child {
    border: 2px dotted black;
  }
}
.wrapper__2{
    max-width: 800px;
}
.box{
    margin: 10px 0px;
    border: 1px solid #000;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}

.wrapper__3 .item{
    border:1px solid #000;
    max-width: 300px;
}
.lnormal{
    line-height: normal;
}
.l200{
    line-height: 200%;
}
.wrapper__4{
    border: 1px solid #000;
}
.wrapper__4 p{
    word-spacing: 10px;
}